div {
  position: relative;
  height: 6.25%;
  width: 6.25%;
  float: left;
}
#container {
  position: fixed;
  height: 500px;
  width: 500px;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -250px;
}
.colored {
  background-color: black;
}
#gridSquare:hover {
  transition: 0;
  background-color: black;
}
