div {
  position: relative;
  float: left;
}
#container {
  position: fixed;
  height: 500px;
  width: 500px;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -250px;
  border: solid black 2px;
}
.colored {
  background-color: black;
}
button {
  position: absolute;
  left: 50%;
  margin-left: -34px;
}
